<%= form_for @comment, :html=> {:id => 'comment_form'} do |f| %>
  <div class="row">
    <% if @comment.errors.any? %>
      <div class="large-5 small-12 center-element center-text">
        <div id="error_explanation">
          <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

          <ul>
          <% @comment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>

  <div class="large-7 small-12 center-element center-text">
    <div class="field">
      <%= f.text_area :message, :placeholder => "Write a comment!", :class => "center-text" %>
    </div>
  </div>
  
    <%= f.hidden_field :photo_id, :value => @photo.id %>
  
  <div class="large-7 small-12 center-element center-text">
    <div class="actions">
      <%= f.submit "Post Comment!", :class => "submit-button" %>
    </div>
  </div>

  </div>
<% end %>
