<p id="notice"><%= notice %></p>

<p>
  <b>Photo:</b>
  <%= @comment.photo_id %>
</p>

<p>
  <b>User:</b>
  <%= @comment.user_id %>
</p>

<p>
  <b>Photographer:</b>
  <%= @comment.photographer_id %>
</p>

<p>
  <b>Message:</b>
  <%= @comment.message %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
