<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :fname, placeholder: "First Name", :style => "width: 335px;"  %>
  </div>
  <div class="field">
    <%= f.text_field :lname, placeholder: "Last Name", :style => "width: 335px;"  %>
  </div>
  <div class="field">
    <%= f.text_field :email, placeholder: "Your email", :style => "width: 335px;"  %>
  </div>
  <div class="field">
    <%= f.password_field :password, placeholder: "Your password", :style => "width: 335px;"  %>
  </div>
  <div class="field">
    <%= f.password_field :password_confirmation, placeholder: "Confirm your password", :style => "width: 335px;"  %>
  </div>
  <div class="field">
    <%= f.text_field :handle, placeholder: "Choose a username", :style => "width: 335px;"  %>
  </div>
  <div class="field">
    <%= f.text_area :bio, placeholder: "Write a short bio about yourself! (optional)", :style => "width: 335px;"  %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
