<p id="notice"><%= notice %></p>

<p>
  <b>Gallery:</b>
  <%= @user.gallery_id %>
</p>

<p>
  <b>Comment:</b>
  <%= @user.comment_id %>
</p>

<p>
  <b>Style:</b>
  <%= @user.style_id %>
</p>

<p>
  <b>Fname:</b>
  <%= @user.fname %>
</p>

<p>
  <b>Lname:</b>
  <%= @user.lname %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Password digest:</b>
  <%= @user.password_digest %>
</p>

<p>
  <b>Handle:</b>
  <%= @user.handle %>
</p>

<p>
  <b>Bio:</b>
  <%= @user.bio %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
