<p id="notice"><%= notice %></p>

<p>
  <%= @user.handle %>'s page
</p>

<p>
  <b>Gallery:</b>
  <%= @user.gallery_id %>
</p>

<p>
  <b>Style:</b>
  <%= @user.style_id %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Bio:</b>
  <%= @user.bio %>
</p>

<% if current_user != nil && @user.id == current_user.id && current_user.class == User %>
  <%= link_to 'Edit Profile', edit_user_path(@user) %> 
<% end %>