<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Find your wedding photographer!</title>
  </head>
  <body>                  
    <div class="container">
      <div class="main">
      
      <h3>Choose between users here and 500px</h3>
      <!-- TODO javascript on and off switch here -->
      

      
      
      <ul id="og-grid" class="og-grid">
        <% @photos.each do |photo| %>
          <li><%= image_tag(photo.photo.url(:thumb)) %></li>
        <% end %>
        <!-- <li><%= link_to(image_tag(@catpic), root_path ) %></li>
        <li><%= link_to(image_tag(@catpic), root_path ) %></li>
        <li><%= link_to(image_tag(@catpic), root_path ) %></li>
        <li><%= link_to(image_tag(@catpic), root_path ) %></li>
        <li><%= link_to(image_tag(@catpic), root_path ) %></li>
        <li><%= link_to(image_tag(@catpic), root_path ) %></li>
        <li><%= link_to(image_tag(@catpic), root_path ) %></li>
        <li><%= link_to(image_tag(@catpic), root_path ) %></li>
        <li><%= link_to(image_tag(@catpic), root_path ) %></li>
        <li><%= link_to(image_tag(@catpic), root_path ) %></li>
        <li><%= link_to(image_tag(@catpic), root_path ) %></li>
        <li><%= link_to(image_tag(@catpic), root_path ) %></li>
        <li><%= link_to(image_tag(@catpic), root_path ) %></li>
        <li><%= link_to(image_tag(@catpic), root_path ) %></li>
        <li><%= link_to(image_tag(@catpic), root_path ) %></li>
        <li><%= link_to(image_tag(@catpic), root_path ) %></li> -->
      </ul>
      
      
      <ul id="og-grid" class="og-grid">
          <% @f00_photos.each do |photo|%>
          <li><%= link_to(image_tag(photo[0..-6]+'3.jpg'), root_path )%></li>  
          <% end %>
      </ul>
      
    </div>
    </div>
  </body>
</html>
        
        