<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Find your wedding photographer!</title>
  </head>
  <body>                  
    <div class="container">
      <div class="main">
      <ul id="og-grid" class="og-grid">
          <li><%= link_to(image_tag(@catpic), root_path ) %></li>
          <li><%= link_to(image_tag(@catpic), root_path ) %></li>
          <li><%= link_to(image_tag(@catpic), root_path ) %></li>
          <li><%= link_to(image_tag(@catpic), root_path ) %></li>
          <li><%= link_to(image_tag(@catpic), root_path ) %></li>
          <li><%= link_to(image_tag(@catpic), root_path ) %></li>
          <li><%= link_to(image_tag(@catpic), root_path ) %></li>
          <li><%= link_to(image_tag(@catpic), root_path ) %></li>
          <li><%= link_to(image_tag(@catpic), root_path ) %></li>
          <li><%= link_to(image_tag(@catpic), root_path ) %></li>
          <li><%= link_to(image_tag(@catpic), root_path ) %></li>
          <li><%= link_to(image_tag(@catpic), root_path ) %></li>
          <li><%= link_to(image_tag(@catpic), root_path ) %></li>
          <li><%= link_to(image_tag(@catpic), root_path ) %></li>
          <li><%= link_to(image_tag(@catpic), root_path ) %></li>
          <li><%= link_to(image_tag(@catpic), root_path ) %></li>
    </div>
    </div>
  </body>
</html>
        
        