<div class="row">
    <%= form_tag login_path, :id => 'login' do %>
      <div class="large-5 small-12 center-element center-text">
        <%= text_field_tag :email, nil, placeholder: "email", size: 27, :class => 'email center-text' %>
      </div>
      <div class="large-5 small-12 center-element center-text">
        <%= password_field_tag :password, nil, placeholder: "password", size: 27, :class => 'password center-text' %>
      </div>
      <div class="large-5 small-12 center-element">
        <%= submit_tag "User Log In", :class => "submit-button" %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
<%= form_tag photologin_path, :id => 'photog_login' do %>
  <div class="large-5 small-12 center-element center-text">
    <%= text_field_tag :email, nil, placeholder: "email", size: 27, :class => 'email center-text' %>
  </div>
  <div class="large-5 small-12 center-element center-text">
    <%= password_field_tag :password, nil, placeholder: "password", size: 27, :class => 'password center-text' %>
  </div>
  <div class="large-5 small-12 center-element ">
    <%= submit_tag "Photographer Log In", :class => "submit-button" %>
  </div>
<% end %>
</div>

<div class="row">
  <div class="large-5 small-12 center-element center-text">
    <%= render 'photographers/form' %>
  </div>
  
  <div class="large-5 small-12 center-element center-text">
    <p class="form-button" id="photographer-form-button"><%= link_to "Create Photographer Account", new_photographer_path %></p>
  </div>
</div>



<div class="row">
  <div class="large-5 small-12 center-element center-text">
    <%= render 'users/form' %>
  </div>
  
  <div class="large-5 small-12 center-element center-text padding-bottom">
    <p class="form-button" id="user-form-button"><%= link_to "Create User Account", new_user_path %></p>
  </div>
</div>