<h1>Listing styles</h1>

<table>
  <tr>
    <th>Photo</th>
    <th>User</th>
    <th>Photographer</th>
    <th>Traditional</th>
    <th>Contemporary</th>
    <th>Documentary</th>
    <th>Artistic</th>
    <th>Conceptual</th>
    <th>Glamorous</th>
    <th>Retro</th>
    <th>Fine art</th>
    <th>Like</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @styles.each do |style| %>
  <tr>
    <td><%= style.photo_id %></td>
    <td><%= style.user_id %></td>
    <td><%= style.photographer_id %></td>
    <td><%= style.traditional %></td>
    <td><%= style.contemporary %></td>
    <td><%= style.documentary %></td>
    <td><%= style.artistic %></td>
    <td><%= style.conceptual %></td>
    <td><%= style.glamorous %></td>
    <td><%= style.retro %></td>
    <td><%= style.fine_art %></td>
    <td><%= style.like %></td>
    <td><%= link_to 'Show', style %></td>
    <td><%= link_to 'Edit', edit_style_path(style) %></td>
    <td><%= link_to 'Destroy', style, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Style', new_style_path %>
