<p id="notice"><%= notice %></p>

<p>
  <b>Photo:</b>
  <%= @style.photo_id %>
</p>

<p>
  <b>User:</b>
  <%= @style.user_id %>
</p>

<p>
  <b>Photographer:</b>
  <%= @style.photographer_id %>
</p>

<p>
  <b>Traditional:</b>
  <%= @style.traditional %>
</p>

<p>
  <b>Contemporary:</b>
  <%= @style.contemporary %>
</p>

<p>
  <b>Documentary:</b>
  <%= @style.documentary %>
</p>

<p>
  <b>Artistic:</b>
  <%= @style.artistic %>
</p>

<p>
  <b>Conceptual:</b>
  <%= @style.conceptual %>
</p>

<p>
  <b>Glamorous:</b>
  <%= @style.glamorous %>
</p>

<p>
  <b>Retro:</b>
  <%= @style.retro %>
</p>

<p>
  <b>Fine art:</b>
  <%= @style.fine_art %>
</p>

<p>
  <b>Like:</b>
  <%= @style.like %>
</p>


<%= link_to 'Edit', edit_style_path(@style) %> |
<%= link_to 'Back', styles_path %>
