<h1>Listing preferences</h1>

<table>
  <tr>
    <th>User</th>
    <th>Traditional</th>
    <th>Contemporary</th>
    <th>Documentary</th>
    <th>Artistic</th>
    <th>Conceptual</th>
    <th>Glamorous</th>
    <th>Retro</th>
    <th>Fine art</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @preferences.each do |preference| %>
  <tr>
    <td><%= preference.user_id %></td>
    <td><%= preference.traditional %></td>
    <td><%= preference.contemporary %></td>
    <td><%= preference.documentary %></td>
    <td><%= preference.artistic %></td>
    <td><%= preference.conceptual %></td>
    <td><%= preference.glamorous %></td>
    <td><%= preference.retro %></td>
    <td><%= preference.fine_art %></td>
    <td><%= link_to 'Show', preference %></td>
    <td><%= link_to 'Edit', edit_preference_path(preference) %></td>
    <td><%= link_to 'Destroy', preference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Preference', new_preference_path %>
