<%= form_for(@photographer) do |f| %>
  <% if @photographer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photographer.errors.count, "error") %> prohibited this photographer from being saved:</h2>

      <ul>
      <% @photographer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "First name" %><br />
    <%= f.text_field :fname %>
  </div>
  <div class="field">
    <%= f.label "Last name" %><br />
    <%= f.text_field :lname %>
  </div>
  <div class="field">
    <%= f.label "Email" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label "Password" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label "Password confirmation" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label "Name of business" %><br />
    <%= f.text_field :company_name %>
  </div>
  <div class="field">
    <%= f.label "Website" %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label "Short bio" %><br />
    <%= f.text_area :bio %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
