
<%= form_for(@photographer) do |f| %>
  <% if @photographer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photographer.errors.count, "error") %> prohibited this photographer from being saved:</h2>

      <ul>
      <% @photographer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :fname, placeholder: "First Name", :style => "width: 335px;" %>
  </div>
  <div class="field">
    <%= f.text_field :lname, placeholder: "Last Name", :style => "width: 335px;"  %>
  </div>
  <div class="field">
    <%= f.text_field :email, placeholder: "Your Email", :style => "width: 335px;"  %>
  </div>
  <div class="field">
    <%= f.password_field :password, placeholder: "Password", :style => "width: 335px;"  %>
  </div>
  <div class="field">
    <%= f.password_field :password_confirmation, placeholder: "Password Confirmation", :style => "width: 335px;"  %>
  </div>
  <div class="field">
    <%= f.text_field :company_name, placeholder: "Your photo business name", :style => "width: 335px;"  %>
  </div>
  <div class="field">
    <%= f.text_field :website, placeholder: "Your beautiful website", :style => "width: 335px;"  %>
  </div>
  <div class="field">
    <%= f.text_area :bio, placeholder: "Write a short bio about yourself! (optional)" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<!-- make class="dark" for better styling on form -->

