
<%= form_for(@photographer) do |f| %>
  <div class="row">
    <% if @photographer.errors.any? %>
      <div class="large-5 small-12 center-element center-text">
        <div id="error_explanation">
          <h2><%= pluralize(@photographer.errors.count, "error") %> prohibited this photographer from being saved:</h2>

          <ul>
          <% @photographer.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="field">
      <%= f.text_field :fname, placeholder: "First Name", :class => "center-text" %>
    </div>
    <div class="field">
      <%= f.text_field :lname, placeholder: "Last Name", :class => "center-text"  %>
    </div>
    <div class="field">
      <%= f.text_field :email, placeholder: "Your Email", :class => "center-text"  %>
    </div>
    <div class="field">
      <%= f.password_field :password, placeholder: "Password", :class => "center-text"  %>
    </div>
    <div class="field">
      <%= f.password_field :password_confirmation, placeholder: "Password Confirmation", :class => "center-text"  %>
    </div>
    <div class="field">
      <%= f.text_field :company_name, placeholder: "Your photo business name", :class => "center-text"  %>
    </div>
    <div class="field">
      <%= f.text_field :website, placeholder: "Your beautiful website", :class => "center-text"  %>
    </div>
    <div class="field">
      <%= f.text_area :bio, placeholder: "Write a short bio about yourself! (optional)", :rows => "8", :class => "center-text large-12 small-12" %>
    </div>
    <div class="actions">
      <%= f.submit "Create new account!", :class => "submit-button" %>
    </div>
  </div>
<% end %>

