<div class="row center-text">
  <p id="notice"><%= notice %></p>
</div>

<% if @photos.size > 0 %>
    <ul class="og-grid" id="view_4">
        <% @photos.last(3).each do |photo| %>
          <% unless photo.photo.url.blank? %>
            <li><%= link_to(image_tag(photo.photo.url(:thumb)), photo) %></li>
          <% end %>
        <% end %>
    </ul>
    <ul class="og-grid" id="view_all">
      <% @photos.each do |photo| %>
        <% unless photo.photo.url.blank? %>
          <li><%= link_to(image_tag(photo.photo.url(:thumb)), photo) %></li>
        <% end %>
      <% end %>
    </ul>
  
  <!-- <%#= link_to "Last 4 photos from #{@photographer.fname}. View all photos!", galleries_path, id: "photos_all_button" %> -->
  
  <div class="row">
    <div class="large-5 small-12 center-element center-text">
      <p class="form-button" id="view_less_button"><%= link_to "MOST RECENT PHOTOS", "#" %></p>
    </div>
    <div class="large-5 small-12 center-element center-text">
      <p class="form-button" id="view_all_button"><%= link_to "VIEW ALL PHOTOS", "#" %></p>
    </div>  

    <% else %>
    <div class="large-5 small-12 center-element center-text">
      <% if current_photographer && @photographer.id == current_photographer.id %>
        <%= link_to "You have no photos yet. Add some!", new_gallery_path, :style => "color: yellow;" %>
        <% else %>
      <p><%= @photographer.fname %> has no photos.</p>
      <% end %>
  </div>
  <% end %>
</div>

<% if current_photographer && @photographer.id == current_photographer.id %>
  <div class="row padding-top">
    <%= link_to new_gallery_path, class: "large-4 small-12 private-box center-text center-element" do %>
      <i class="fa fa-film"></i><br /><br />
      NEW GALLERY
    <% end %>
    <%= link_to new_photo_path, class: "large-4 small-12 private-box center-text center-element" do %>
      <i class="fa fa-picture-o"></i><br /><br />
      UPLOAD PHOTO
    <% end %>
    <%= link_to edit_photographer_path(@photographer), class: "large-4 small-12 private-box center-text center-element", :id => "edit-photographer" do %>
      <i class="fa fa-picture-o"></i><br /><br />
      EDIT PROFILE
    <% end %>
  </div>
<% end %>

<div class="row padding-top">
  <div class="large-5 small-12 center-element center-text">
    <h3>NAME</h3>
  </div>
  <div class="large-5 small-12 center-element center-text">
    <p><%= @photographer.full_name %></p>
      <span class="photographer_label"> &nbsp;&nbsp; photographer &nbsp;&nbsp; </span>
  </div>
</div>
<div class="row padding-top">
  <div class="large-5 small-12 center-element center-text">
      <h3>EMAIL</h3>
  </div>
  <div class="large-5 small-12 center-element center-text">
      <p><%= @photographer.email %></p>
  </div>
</div>
<div class="row padding-top">
  <div class="large-5 small-12 center-element center-text">
      <h3>BUSINESS</h3>
  </div>
  <div class="large-5 small-12 center-element center-text">
      <p><%= @photographer.company_name %></p>
  </div>
</div>
<div class="row padding-top">
  <div class="large-5 small-12 center-element center-text">
    <h3>WEBSITE</h3>
  </div>
  <div class="large-5 small-12 center-element center-text">
      <p><%= @photographer.website %></p>
  </div>
</div>  
<div class="row padding-top">
  <div class="large-5 small-12 center-element center-text">
    <h3>BIO</h3>
  </div>
  <div class="large-8 small-12 center-element center-text">    
    <p><%= @photographer.bio %></p>
  </div>
</div>
<div class="row padding-top">
  <div class="large-5 small-12 center-element center-text">
    <h3>GALLERIES</h3>
  </div>
</div>
<% if @galleries.size > 0 %>

<div class="row padding-bottom">
  <div class="small-12 center-text">    
      <ul id="colored-galleries">
        <% @galleries.each do |gallery| %>
        <li class="large-5 small-12 center-element"><p><%= link_to gallery.title.upcase, gallery %></p></li>
        <% end %>
      </ul>
      
      <% else %>
        <% if current_photographer != nil && @photographer.id == current_photographer.id %>
          <%= link_to 'Create your first gallery!', new_gallery_path %> 
        <% else %>
          <%= @photographer.fname %> doesn't have any albums.
        <% end %>
      <% end %>
    </div>
</div>