<p id="notice"><%= notice %></p>

<% if @photos.size > 0 %>
    <ul id="og-grid" class="og-grid">
      <% @photos.last(4).each do |photo| %>
      <li><%= link_to(image_tag(photo.photo.url(:thumb)), photo) %></li>
      <% end %>
    </ul>
  
  <%= link_to "Last 4 photos from #{@photographer.fname}. View more photos!", galleries_path %>
  <% else %>
    <% if current_photographer && @photographer.id == current_photographer.id %>
      <%= link_to "You have no photos yet. Add some!", new_gallery_path, :style => "color: yellow;" %>
      <% else %>
    <p><%= @photographer.fname %> has no photos.</p>
    <% end %>
<% end %>

<p>
  <b>Name:</b>
  <%= @photographer.full_name %> 
  <span class="photographer_label"> &nbsp;&nbsp; photographer &nbsp;&nbsp; </span>
</p>

<p>
  <b>Email:</b>
  <%= @photographer.email %>
</p>

<p>
  <b>Company name:</b>
  <%= @photographer.company_name %>
</p>

<p>
  <b>Website:</b>
  <%= @photographer.website %>
</p>

<p>
  <b>Bio:</b>
  <%= @photographer.bio %>
</p>

<p>
  <b>Galleries:</b>
  
  <% if @galleries.size > 0 %>
  <% @galleries.each do |gallery| %>
  <ul>
    <li><%= link_to gallery.title, gallery %></li>
  </ul>
  <% end %>
  <% else %>
    <% if current_photographer != nil && @photographer.id == current_photographer.id %>
      <%= link_to 'Create your first gallery!', new_gallery_path %> 
    <% else %>
      <%= @photographer.fname %> doesn't have any albums.
    <% end %>
  <% end %>
</p>

<% if current_photographer && @photographer.id == current_photographer.id %>
  <%= link_to 'New Gallery', new_gallery_path %> |
  <%= link_to 'Edit Profile', edit_photographer_path(@photographer) %> 
<% end %>
