<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @photographer.full_name %> <span class="photographer_label"> photographer </span>
</p>

<p>
  <b>Email:</b>
  <%= @photographer.email %>
</p>

<p>
  <b>Company name:</b>
  <%= @photographer.company_name %>
</p>

<p>
  <b>Website:</b>
  <%= @photographer.website %>
</p>

<p>
  <b>Bio:</b>
  <%= @photographer.bio %>
</p>

<% if current_photographer != nil && @photographer.id == current_photographer.id %>
  <%= link_to 'New Gallery', new_gallery_path %> |
  <%= link_to 'Edit Profile', edit_photographer_path(@photographer) %> 
<% end %>

