<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @photographer.fname %>
</p>

<p>
  <b>Last name:</b>
  <%= @photographer.lname %>
</p>

<p>
  <b>Email:</b>
  <%= @photographer.email %>
</p>

<p>
  <b>Company name:</b>
  <%= @photographer.company_name %>
</p>

<p>
  <b>Website:</b>
  <%= @photographer.website %>
</p>


<p>
  <b>Bio:</b>
  <%= @photographer.bio %>
</p>


<%= link_to 'Edit', edit_photographer_path(@photographer) %> |
<%= link_to 'Back', photographers_path %>