<p id="notice"><%= notice %></p>

<%= link_to "Continue to your page", photographer_path(@photographer.id) %>
<br>
<%= image_tag(@photo.photo.url) %>

<br>
<%= link_to 'Delete Photo', photo_path, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', photos_path %>
