<div class="row">
  <div class="small-12 center-text padding-small-bottom">
    <p id="notice"><%= notice %></p><br />
      <% if current_photographer && current_photographer.id == @photographer.id %>
        <%= link_to "Continue to your page", photographer_path(@photographer.id) %> |
        <%= link_to "Upload another photo", new_photo_path %> |
        <%= link_to 'Delete Photo', photo_path, method: :delete, data: { confirm: 'Are you sure?' } %> 
      <% end %>
  </div>
</div>

<div class="scale-with-grid">
  <%= image_tag(@photo.photo.url) %>
</div>

<div class="row">
  <% @comments.each do |comment| %>
    <div class="large-5 small-12 center-text center-element padding-small-bottom padding-small-top">
      <p><%= comment.message %></p>
      <% if comment.photographer %>
        <b>posted by <%= link_to comment.photographer.fname, photographer_path(comment.photographer.id) %></b>
      <% end %>
      <% if comment.user %>
        <b>posted by <%= link_to comment.user.fname, user_path(comment.user.id) %></b>
      <% end %>
    </div>
  <% end %>
</div>

<div class="content-small-padding">
  <%= render 'comments/form' %>
</div>