<p id="notice"><%= notice %></p>

<%= link_to "Continue to your page", photographer_path(@photographer.id) %> |
<%= link_to "Upload another photo", new_photo_path %> |
<%= link_to 'Delete Photo', photo_path, method: :delete, data: { confirm: 'Are you sure?' } %> 
<br></br>
<div class="scale-with-grid">
<%= image_tag(@photo.photo.url) %>
</div>
