<!DOCTYPE html>
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
		<title>Find your wedding photographer!</title>
	</head>
	<body>
		<div class="container">
			<div class="cbp-af-header">
				<div class="cbp-af-inner">
          <h1 id="nav-logo">
            <div class="hover panel">
                <div class="front">
                    <div class="pad">
                        <%= link_to(image_tag("findaphotog2.png", :alt =>"findyourphotog logo"), :root) %>
                    </div>
                </div>
                <div class="back">
                    <div class="pad">
                        <%= link_to(image_tag("findaphotog2-flip.png", :alt =>"findyourphotog logo"), :root) %>
                    </div>
                </div>
            </div>
          </h1>
          <section class="color-6">
					<nav class="cl-effect-3">
						<a href="<%= photographers_path %>">photographers</a>
            <a href="<%= users_path %>">users</a>
            <%= link_to "galleries", galleries_path %>
            <% if current_user %>
              <%= link_to "me", user_path(current_user.id) %>
              <%= link_to "log out", login_path, :method => :delete %>
            <% elsif current_photographer %>
              <%= link_to "me", photographer_path(current_photographer.id) %>
              <%= link_to "log out", login_path, :method => :delete %>
            <% else %>
              <%= link_to "log in", login_path %>
            <% end %>
					</nav>
          </section>
				</div>
			</div>
			<header class="clearfix">
			</header>	
			<div class="main">
      <section>
      <div id="main_div">
        <%= yield %>
      </div>
      </section>
		  </div>
	</body>
</html>